---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Text from '../components/ui/Text.tsx';
import Spacer from '../components/ui/Spacer.tsx';
---

<Layout title="Welcome to Astro.">
	<main>
		
	</main>
</Layout>
