---
import Text from '../components/ui/Text.tsx';
---

<footer class="rounded-t-lg h-64 bg-amber-200/85 flex justify-between sm:items-center p-36">
    <a href="/">Logo</a>
    <div class="hidden sm:block w-[1px] h-60 bg-white rounded-full"></div>
    <div>
        <Text as='h2' color='primary' size='xl'>Contacto</Text>
        <ul>
            <li>temp@gmail.com</li>
            <li>+51 999 000 999</li>
            <li>Ubicación</li>
        </ul>
    </div>
    <div class="hidden sm:block w-[1px] h-60 bg-white rounded-full"></div>
    <div>
        <Text as='h2' color='primary' size='xl'>Media</Text>
        <ul class="flex flex-col">
            <li><a href="/">Instagram</a></li>
            <li><a href="/">Facebook</a></li>
            <li><a href="/">Whatsapp</a></li>
        </ul>
    </div>
</footer>